# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Remix
build/
tsconfig.tsbuildinfo

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Storybook static
storybook-static

# Coverage report
coverage

# environment
.env

# Maven
target

# Vite
vite.config.ts.timestamp-*

.react-router
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
