.textVarInput {
    .inputWrapper {
        display: flex;
        align-items: center;
        gap: calc(var(--gap) / 2);
    }
    input {
        field-sizing: content;
        width: 100%;
        padding: var(--gap);
        font-size: inherit;
        background: rgb(var(--background-color));
        border: 1px solid rgb(var(--grayDark));
        border-radius: calc(var(--border-radius) / 2);
    }
    label {
        color: rgb(var(--labelColor));
    }
}
