/*
 * Copyright 2024 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

:root {
  --border-radius: 8px;

  --background-color: 255 255 255;

  --primaryMain: 51 51 51;
  --secondaryMain: 1 1 1;
  --errorMain: 255 23 68;

  --purpleLight: 117 89 142;
  --purpleMain: 97 57 133;

  --blueLight: 214 231 243;
  --blueMain: 13 110 253;
  --blueDark: 5 85 164;

  --redLight: 238 220 219;
  --redMain: 153 0 0;
  --redDark: 115 0 0;

  --greenLight: 217 234 219;
  --greenMain: 0 112 15;

  --grayLight: 250 249 248;
  --grayMain: 231 227 222;
  --grayDark: 155 138 122;

  --yellowLight: 253 243 209;
  --yellowMain: 246 194 68;

  --labelColor: 0 0 0 / 60%;

  --gap: 0.5rem;
}
