/*
 * Copyright 2024 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.card {
  border-radius: var(--border-radius);
  position: relative;
  &[data-boxed='true'] {
    background-color: rgb(var(--blueDark) / 5%);
  }
}

.cardContent[data-boxed='true'] {
  padding: var(--gap) calc(var(--gap) * 2);
}

.cardHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

  &[data-boxed='true'] {
    background-color: rgb(var(--blueDark) / 8%);
    padding: var(--gap) calc(var(--gap) * 2);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}


.cardTitle {
  max-width: 400px;
  margin-right: auto;
  display: flex;
  align-items: center;
}
