/*
 * Copyright 2024 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.attributeSelect {
  font-size: 0.9rem;
  font-style: italic;
  color: rgb(var(--labelColor));

  select {
    field-sizing: content;
    width: auto;
    max-width: 100%;
    padding: calc(var(--gap) / 2);
    font-size: inherit;
    margin-left: var(--gap);
    background: white;
    border: 1px solid rgb(var(--grayDark));
    border-radius: calc(var(--border-radius) / 2);
  }
}
