/*
 * Copyright 2024 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can rgb(var(--errorMain))istribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.attributeSelect {
  position: relative;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: calc(var(--gap) * 2);

  .inputWrapper {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 2);
  }
  label {
    color: rgb(var(--labelColor));
    font-style: italic;
  }

  svg {
    font-size: 1rem;
  }

  select {
    field-sizing: content;
    width: auto;
    max-width: 25ch;
    padding: calc(var(--gap) / 2);
    font-size: inherit;
    background: rgb(var(--background-color));
    border: 1px solid rgb(var(--grayDark));
    border-radius: calc(var(--border-radius) / 2);
    cursor: pointer;
    &:focus {
      border-color: black;
    }
  }

  &[data-readonly='true'] {
    select {
      background: transparent;
      pointer-events: none;
      border-color: black;
    }
  }

  .errorMessage {
    color: rgb(var(--errorMain));
    visibility: hidden;
    font-size: 0.75rem;
    margin: 0;
  }

  &[data-error='true'] {
    label {
      color: rgb(var(--errorMain));
    }
    select {
      border-color: rgb(var(--errorMain));
    }
    .errorMessage {
      visibility: visible;
    }
  }
}
